@font-face {
    font-family: 'Genty Demo';
    src: url('GentyDemo-Regular.woff2') format('woff2'),
        url('GentyDemo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

